* {
    box-sizing: border-box;
}

a:active {
    color: #7d3030;
    &:hover {
        color: orange;
        text-decoration: none;
    }
    img {
        width: 100%;
    }
}

.image-content img {
    width: 100%;
}

.image-room {
    img {
        width: 100%;
        height: 290px;
    }
}
 a:hover {
     text-decoration: none;
     color: orange;
 }