.l-left {
    float: left;
}

.l-right {
    float: right;
}

.l-align-center {
    text-align: center;
}

/* Room detail style */
.room-content {
    padding: 10px;
    .room-image {
        position: relative;
        left: 6%;
        img {
            width: 70%;
            z-index: -1;
        }
        .overlay {
            position: absolute;
            left: 0%;
            top:0;
            width: 0%;
            height: 100%;
            background-color: rgba(19, 19, 19, 0.5);
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease-in;
            -o-transition: all 1s ease-in-out;
            transition: all 1s ease;
            visibility:hidden;
            overflow:hidden;
            h3 {
                color: #fff;
                font-family: Arial;
                text-align: center;
                vertical-align: central;
                padding: 0;
                margin: 0;
                line-height: 260px;
            }
        }
        &:hover {
            .overlay {
                top:0;
                left:0;
                visibility:visible;
                width:70%;
            }
        }
    }
}

.well-form {
    margin: 5px 20px;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.well-legend {
    display: block;
    font-size: 14px;
    width: auto;
    padding: 2px 7px 2px 5px; 
    line-height: inherit;
    color: #CCC;
    border: none;
    background-color: #f5f5f5;
    margin-bottom: 0;
}

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}