
/*Begin Header*/
.dropbtn {
    background-color: #101010;
    color: white;
    padding: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #333;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        a {
            color: #fff;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
    }
    a:hover {
        background-color: #333
    }
}

.show-dropdown {
    display: block !important;
}

/*End Header*/

/* Top banner */
.top-banner {
    width: 100%;
    position: relative;
    display: block;
    img {
        width: 100%;
        height: 210px;
        margin-top: -25px;
    }
}

/* Style for form search */
.form-search {
    position: relative;
    margin-top: 15px;
}

.form {
    width: 90%;
    height: 100px;
    padding-top: 28px;
    background: #e5e5e5;
    text-align: center;
    margin-left: 50px;
}


/* List some hotels*/
.hotel-list {
    background: #333;
    a {
        display: block;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        &:hover{
            width: 100%;
            background-color: #111111;
        }
    }
    img {
        width: 100%;
        padding-bottom: 15px;
        padding-top: 15px;
    }
}

/* End list some hotels*/


/*List room*/
.room-list {
    margin-bottom: 10px;
}
.room-list-content {
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    a {
        img {
            width: 100%;
            opacity: 1;
            height: 350px;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }
        &:hover {
            img {
                opacity: .5;
            }
        }
    }
}

.dropdown-menu {
    background: #333;
    color: #fff;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.6;
    color: #fff;
    white-space: nowrap;
}
/**/

/* Begin slider*/
.carousel {
    top: -25px;
}

/**/

.heading {
    background: #fff; 
    border: 2px solid #fff; 
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    h2.title-heading {
        text-align: center;
        color: #246fc1;
    }
}
.content-room {
    background: #fff; 
    border: 2px solid #fff; 
    padding: 30px; 
    margin-bottom: 10px; 
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

/* Content banner*/
.content-banner {
    width: 100%;
    height: 570px;
    background-image: url('/images/home-testimonial.jpg');
    background-repeat: no-repeat;
    .text-center {
        .text-title {
            padding-top: 15px;
            color: #fff;
            margin-bottom: 160px;
        }
    }
    .content-box {
        padding: 15px;
        width: 100%;
        height: 275px;
        background: #fff;
        color: #01080c;
        opacity: .5;
        p {
            text-align: right;
            font-size: 16px;
        }
    }
}

.review-image {
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
}

/* Style for listing rooms*/
.rooms {
    width: 100%;
    img {
        width: 100%;
        height: 250px;
    }
}

.rooms-info {
    button {
        margin-bottom: 10px;
    }
}

.warning-message {
    width: 100%; 
    background: #ccc5c5; 
    color: #ca0000; 
    padding: 10px;
}

.div_form {
    display: none;
    &-content {
        background: #fff;
    }
}
.navbar {
    border-radius: 0px;
}

.inpCart {
    width: 25px; 
    padding: 5px;
}

/* Footer */
.sub-footer {
    width: 100%;
    background: #161616;
    height: 350px;
    padding: 50px;
    .f-title {
        color: #fff;
        text-align: center;
        a {
            .f-logo {
                width: 215px;
                border-radius: 50%;
            }
        }
    }
    ul {
        list-style-type: none;
        li {
            list-style-type: none;
            margin-bottom: 10px;
        }
    }
    .comment {
        color: #fff;
    }
}

#footer {
    background: #0a0a0a;
    width: 100%;
    color: #fff;
}
